.exp-section {
  height: 100vh;
  background-color: black;
  font-family: "Playfair Display", serif;
  color: gray;
}
.exp-section h1 {
  text-align: center;
}
.card-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.card-container img{
    margin-right: 40px;
}
.card-data-main {
  display: flex;
  align-items: center;
  margin-top: 5%;
  flex-wrap: nowrap;
  width: 70%;
}
.card-data {
  align-items: baseline;
  color: white;
  font-size: large;
  /* font-family: "Oswald", sans-serif; */
  line-height: 35px;
  letter-spacing: 0.5px;
}
.card-data-main img {
  width: 200px;
}
